@charset "UTF-8";

html {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fee782;
}

p{
    font-size: 1.5rem;
    font-weight: bold;
}

#logo p {
    font-size: 0.7rem;
}
#logo img {
    height: 100px;
}

/* 数字部分 */
#time_d , #time_h , #time_m , #time_s {
    font-size: 3rem ;
    font-weight: bold;
    color: rgb(255, 67, 67);
}

#wrap {
    display: none;
}
#wrap.open{
    display: block;
}

#count_contents {
    display: block;
    position: relative;
    min-width: 800px;
    max-width: 1200px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #da7777;
    border-radius: 1rem;
    border:  5px solid #772d21;
}

#contents_area {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top : 200px;
    width: 714px;
    height: 620px;
    background-image: url(../img/product_close.png);
}
#contents_area.open {
    background-image: url(../img/product_open.png);
}

#notice_area {
    display: none;
}
#notice_area.open {
    position: absolute;
    top : 0px;
    display: block;
}

#conuntDown_timer {
    display: block;
}
#conuntDown_timer.close {
    display: none;
}

.buy_button {
    top: 640px;
    font-size: 1.6rem;
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #c03925;
    border-bottom: 5px solid #772d21;
  }
.buy_button:hover {
    margin-top: 3px;
    color: #fff;
    background: #c03925;
    border-bottom: 2px solid #772d21;
  }