/*--- 共通部分 ---*/
html {
    margin: 0;
    padding: 0;
    color: rgb(45, 45, 45);
    overflow-x: hidden;
    background-color: rgb(244, 178, 103);
}
body{
    margin: 0;
    padding: 0;
}
footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: rgb(244, 178, 103);
}
a {
    color:rgb(45, 45, 45);
}

/*--- ラップ ---*/
#wrap {
    transition: 1.5s;
    margin: 0;
    padding: 0;
}
#main {
    background-image: url("img/back.png");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

/*--- タイトル部分 ---*/
.title {
    width: 100vw;
    height: 100vh;
}
h1{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    height: 1rem;
    font-weight: bold;
    font-size: 100px;
    color: rgba(0, 0, 0, 0);
    text-shadow: 5px 5px 0 rgb(128, 17, 124);
    -webkit-text-stroke: 3px rgb(255, 255, 255);
    text-stroke: 3px rgb(255, 255, 255);
}

/*--- コンテンツ部分 ---*/
.contents{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.contents a{
    color: aliceblue;
}

/*--- キャラ ---*/
#witch {
    animation: witch 3s ease-in-out infinite;
}
@keyframes witch {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-10%);
    }
}
/*--- キャラのクリックアニメーション ---*/
#particle {
    position: absolute;
    margin-top: -5%;
}
.particle_on {
    opacity: 1;
    animation: particle 2s linear infinite;
}
@keyframes particle {
    0% {
        transform:scale(1) rotate(0deg);
    }
    50% {
        transform:scale(0.8) rotate(180deg);
    }
    100% {
        transform:scale(1) rotate(360deg);
    }
}

/*--- コウモリ ---*/
#bat_1 {
    position: fixed;
    top: 20%;
    left: 20%;
    transition: 1s;
}
#bat_2 {
    position: fixed;
    bottom: 20%;
    right: 20%;
    transition: 1s;
}
#bat_3 {
    position: fixed;
    bottom: -200px;
    left: -100px;
    z-index: 1;
    transition: 1s;
}

/*--- コウモリのスクロールアニメーション ---*/
.on_1 {
    transition: 1s;
    opacity: 0;
    animation: bat_1 1s ease-out;
}
@keyframes bat_1 {
    0% {
        transform: translate(0%,0%);
    }
    100% {
        transform: translate(-50%,-50%);
    }
}
.on_2 {
    transition: 1s;
    opacity: 0;
    animation: bat_2 1s ease-out;
}
@keyframes bat_2 {
    0% {
        transform: translate(0%,0%);
    }
    100% {
        transform: translate(50%,50%);
    }
}
.on_3 {
    transition: 1s;
    opacity: 0;
    animation: bat_3 1s ease-out;
}
@keyframes bat_3 {
    0% {
        transform: translate(0%,0%);
    }
    100% {
        transform: translate(-50%,50%);
    }
}
